.tech-ref-container{
        background-color: rgb(56, 26, 26);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        padding: 5rem;

        button{
            margin:1rem;
            padding:1rem;
            border-radius: 1rem;
            color:black;
            border: 0.07rem solid #ddd;
        }

}